.wrapper {
  height: 700px;
  width: 100%;

  .image {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      border-top-left-radius: 300px;
      object-fit: cover;
    }
  }
}

.wrapperReverse {
  height: 700px;
  width: 100%;

  .image {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      border-top-right-radius: 300px;
      object-fit: cover;
    }
  }
}

.wrapper::after {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: rgb(142, 194, 152, 0.63);
  border-radius: 400px;
  left: -200px;
  bottom: -230px;
  z-index: -100;
}
